@media screen and (max-width:992px) {
    nav{
        background-color: #343a40;
    }
    #our-cars .row .first-car{
        border-right: none !important;
    }
    #our-cars .row .third-car{
        border-right: none !important;
        border-bottom: 2px dotted #a5a5a5;
    }
    #our-cars .row .fourth-car{
        border-bottom: 2px dotted #a5a5a5;
    }
    #featured-cars .row .card-deck .card .green-bg-card{
        height: 320px !important;
        margin-bottom: 3rem !important;
    }
    #featured-cars .row .card-deck .card{
        margin-bottom: 4rem !important;
    }
    #contact .container .row .col-lg-6 form{
        margin-bottom: 3rem;
    }
    #footer{
        text-align: center !important;
    }
    #footer .col-lg-3{
        margin-bottom: 2rem !important;
    }
}

@media screen and (max-width:768px) {
    #featured-cars .row .card-deck .card .green-bg-card{
        height: 260px !important;
    }
    #footer .footer-contact{
        top: -50px !important;
    }
    .booking-btn{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media screen and (max-width:576px){
    .booking-btn{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .our-cars-btn{
        flex-direction: column-reverse;
    }
}